/*Reset*/
body {
  font-family: 'Roboto Condensed', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.Titulo {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
/*Tabla*/
.TablaResultados,
.TablaResultados * {
  font-size: 16px;
}

/*Ventanas modal de detalles de "otros" medios*/
.Modal--otros {
  max-height: 400px;
}
