<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Procesar archivo excel</title>
</head>
<body>
  <a href="http://appserver.website/host/attachmedia/mapfre/excel/parser.php">Ver tabla</a>
</body>
</html>
